/*===VARIABLES===*/

$primary-color: white;
$secondary-color: #efefef;
$teritiary-color: rgb(197, 195, 195);
$quaternary-color: gold; 
$quinary-color: rgb(39, 39, 39); 
$senary-color: rgb(255, 242, 168);
$septenary-color: rgba(0, 0, 0, 0.3);

$font-stack: "Futura", Helvetica, Arial; 
